body {
    font-family: Arial, sans-serif;
    background-color: #6df1e6;
    color: #222;
    margin: 30px;
    text-align: center;
}

h1 {
    color: #2c3e50;
    text-align: center;
}

.profile_pic {
    margin: 0 auto;
    margin-top: 25px;

    justify-content: center;
    align-items: center;
}
.profile_pic img {
    border-radius: 75px;

    box-shadow: 0px 0px 10px 6px black;
}

a {
    color: #2980b9;
    font-weight: bold;
}

a:hover {
    color: #1abc9c;
    text-decoration: underline;
}

ol {
    list-style-type: none;
    padding-left: 0;
}


header {
    background-color: #4eb1a967; /* semi-transparent black */

    border: 5px solid black;
    border-radius: 25px;

    box-shadow: 0px 0px 10px 3px black;

    color: white;
    padding: 10px;
    text-align: center;
}

nav {
    margin: 0 auto;

    display: flex;
    flex-direction: column;

    gap: 25px;

    padding: 12px;
}

nav a {
    text-decoration: none;
    color: black;

    font-size: 18px;
    font-weight: bold;
}

