body {
    font-family: Arial, sans-serif;
    background-color: #6df1e6;
    color: #222;
    margin: 30px;
    text-align: center;
}

h1 {
    color: #2c3e50;
    text-align: center;
}

img {
    border-radius: 50%;
    border: 2px solid #ddd;
    margin-left: 50%;
    margin-right: 50%;
}

a {
    color: #2980b9;
    font-weight: bold;
}

a:hover {
    color: #1abc9c;
    text-decoration: underline;
}

ol {
    list-style-type: none;
    padding-left: 0;
}


header {
    background-color: rgba(0, 0, 0, 0.4); /* semi-transparent black */
    color: white;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: white;
    padding: 10px
}
